PORT=3000

MQTT_URL=mqtt://127.0.0.1:1883
MQTT_USER=gateway-01
MQTT_PASSWORD=your_mqtt_password
MQTT_CLIENT_ID=backend-influx-01
CORS_ORIGIN=http://localhost:5173,http://<LAN_IP>:5173

INFLUX_URL=http://127.0.0.1:8086
INFLUX_TOKEN=your_influx_token
INFLUX_ORG=your_org
INFLUX_BUCKET=iot
